.mainbox {
    background-color: coral;
    width: 800px;
    margin: 0 auto;
}

.leftside {
    background-color: darkgreen;
    width: 100px;
    float: left;
}

.main {
    background-color: darkkhaki;
    width: 600px;
    float: left;
}

.rightside {
    background-color: aliceblue;
    width: 100px;
    float: right;
}

.footer {
    background-color: cadetblue;
}

.menu {
    background-color: brown;
    height: 37px;
    text-align: center;
}

.menu>ul>li {
    display: inline;
    padding: 10px;
    background-color: darkgreen;
    position: relative;
    top: 6px;
    font-family: Tahoma, serif;
    font-size: 14px;
}

.menu>ul>li>a {
    text-decoration: none;
    color: #fff;
}

.gallery {
    max-width: 100px;
}

.mgallery {
    text-align: center;
}